#desc{
	position:absolute;
	left:10px;
	top	:10px;
	color:blue;
}
#logo{
text-align:center;
background: white;
}
* {
padding: 0;
margin: 0;
}
body {
font-family: "lucida sans", verdana, arial, helvetica, sans-serif;
font-size: 75%;
}
h1 {
font-size: 1.4em;
padding: 10px 10px 0;
}
p {
padding: 0 10px 1em;
}
html, body {
height: 100%;
}
#container{
min-height: 100%;
background-color: #DDD;
border-left: 2px solid #666;
border-right: 2px solid #666;
width: 100%px;
margin: 0 auto;
}
#navigator{
width: 100%;
background-color: #000;
color: gold;
text-align: center;
height: 70px;
padding-top: 10px;
margin: -70px auto 0 auto;
}
#footer{
width: 100%;
background-color: #000;
color: #DDD;
text-align: center;
height: 70px;
padding-top: 10px;
margin: -50px auto 0 auto;
}
.pagination a{
	height: 15px;
	font-size:8px;
	color:green;
	font-weight:bold;
}
.button{
font-size:12px;
}
.table_button{
	font-size:10px;
}
.lib_table_body_odd:hover{
	background: silver;
	cursor:pointer;
}
.lib_table_body_even:hover{
	background: silver;
	cursor:pointer;
}
.table-display{
	width:100%;
}
.thead-display{
	background:black;
	color:whitesmoke;
}
.tableless_label{
float: left;
width: 420px;
font-weight: bold;
}

.tableless_login_label{
float: left;
width: 120px;
font-weight: bold;
}
.tableless_login_input{
width: 220px;
font-weight: bold;
}

.lib_table_body_odd{
	background:bisque;
}
.lib_table_body_even{
	background:cornsilk;
}
.tableless_input, .tableless_textarea{
width: 180px;
margin-bottom: 5px;
}

.tableless_textarea{
width: 250px;
height: 150px;
}

.boxes{
width: 1em;
}

#submitbutton{
margin-left: 120px;
margin-top: 5px;
width: 90px;
}

.tableless_br{
clear: left;
}
.wide .tableless_input{
	width: 300px;
}.semi_wide .tableless_input{
	width: 600px;
}.extra_wide .tableless_input{
	width: 900px;
}
